.syntax {
  width: 800px;
  border: 2px solid #3cf;
  margin: 75px auto;
  padding: 25px;
  border-radius: 15px;
}

.sections {
  width: 1200px;
  margin: 0 auto;
  border: 2px solid #66c;
  border-radius: 15px;
}
.sections section {
  padding: 25px;
  overflow: hidden;
}
.sections section .demo-sec {
  width: 500px;
  padding: 25px;
  border-radius: 15px;
  border: 2px solid #9f3;
  float: left;
}
.sections section .specification {
  float: left;
  width: 200px;
  min-height: 150px;
  padding: 50px;
  margin-left: 50px;
  border-radius: 15px;
  border: 2px solid #9fc;
}
.sections section .specification div {
  margin-bottom: 10px;
}

.demo1 .box,
.demo8 .box,
.demo9 .box,
.demo10 .box {
  width: 400px;
  height: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin: 25px auto;
  border: 2px solid #ccc;
}
.demo1 .box div:nth-child(1),
.demo8 .box div:nth-child(1),
.demo9 .box div:nth-child(1),
.demo10 .box div:nth-child(1) {
  width: 60px;
  background: #cf6;
}
.demo1 .box div:nth-child(2),
.demo8 .box div:nth-child(2),
.demo9 .box div:nth-child(2),
.demo10 .box div:nth-child(2) {
  width: 60px;
  background: #cfc;
}
.demo1 .box div:nth-child(3),
.demo8 .box div:nth-child(3),
.demo9 .box div:nth-child(3),
.demo10 .box div:nth-child(3) {
  width: 60px;
  background: #ccf;
}
.demo1 .box div:nth-child(4),
.demo8 .box div:nth-child(4),
.demo9 .box div:nth-child(4),
.demo10 .box div:nth-child(4) {
  width: 60px;
  background: #ff9;
}

.demo2 .box {
  width: 400px;
  height: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 25px auto;
  border: 2px solid #ccc;
}
.demo2 .box div:nth-child(1) {
  background: #cf6;
}
.demo2 .box div:nth-child(2) {
  background: #cfc;
}
.demo2 .box div:nth-child(3) {
  background: #ccf;
}
.demo2 .box div:nth-child(4) {
  background: #ff9;
}

.demo3 .box,
.demo4 .box {
  width: 400px;
  height: 200px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  margin: 25px auto;
  border: 2px solid #ccc;
}
.demo3 .box div:nth-child(1), .demo3 .box div:nth-child(5),
.demo4 .box div:nth-child(1),
.demo4 .box div:nth-child(5) {
  width: 80px;
  background: #cf6;
}
.demo3 .box div:nth-child(2), .demo3 .box div:nth-child(6),
.demo4 .box div:nth-child(2),
.demo4 .box div:nth-child(6) {
  width: 80px;
  background: #cfc;
}
.demo3 .box div:nth-child(3), .demo3 .box div:nth-child(7),
.demo4 .box div:nth-child(3),
.demo4 .box div:nth-child(7) {
  width: 80px;
  background: #ccf;
}
.demo3 .box div:nth-child(4), .demo3 .box div:nth-child(8),
.demo4 .box div:nth-child(4),
.demo4 .box div:nth-child(8) {
  width: 80px;
  background: #ff9;
}

.demo4 .box {
  -webkit-flex-wrap: wrap-reverse;
      -ms-flex-wrap: wrap-reverse;
          flex-wrap: wrap-reverse;
}

.demo5 .box {
  width: 400px;
  height: 130px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 25px auto;
  border: 2px solid #ccc;
}
.demo5 .box div:nth-child(1) {
  width: 50px;
  background: #cf6;
  height: 100px;
}
.demo5 .box div:nth-child(2) {
  width: 50px;
  height: 120px;
  background: #cfc;
}
.demo5 .box div:nth-child(3) {
  width: 50px;
  height: 60px;
  background: #ccf;
}
.demo5 .box div:nth-child(4) {
  width: 50px;
  background: #ff9;
}

.demo5 .box2 {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.demo5 .box3 {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.demo5 .box4 {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.demo5 .box5 {
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

.demo6 .box,
.demo7 .box {
  width: 400px;
  height: 130px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 25px auto;
  border: 2px solid #ccc;
}
.demo6 .box div:nth-child(1),
.demo7 .box div:nth-child(1) {
  width: 50px;
  background: #cf6;
  height: 100px;
}
.demo6 .box div:nth-child(2),
.demo7 .box div:nth-child(2) {
  width: 50px;
  height: 120px;
  background: #cfc;
}
.demo6 .box div:nth-child(3),
.demo7 .box div:nth-child(3) {
  width: 50px;
  height: 60px;
  background: #ccf;
}
.demo6 .box div:nth-child(4),
.demo7 .box div:nth-child(4) {
  width: 50px;
  background: #ff9;
}

.demo6 .box2, .demo7 .box2 {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
              -ms-grid-row-align: flex-end;
          align-items: flex-end;
}
.demo6 .box3, .demo7 .box3 {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
              -ms-grid-row-align: center;
          align-items: center;
}
.demo6 .box4, .demo7 .box4 {
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
              -ms-grid-row-align: baseline;
          align-items: baseline;
}
.demo6 .box5, .demo7 .box5 {
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
              -ms-grid-row-align: stretch;
          align-items: stretch;
}
.demo6 .box5 div:nth-child(2), .demo7 .box5 div:nth-child(2) {
  -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
          align-self: stretch;
}

.demo7 > div div:nth-child(2) {
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
}

.demo8 .box {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}
.demo8 .box div:nth-child(1) {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.demo8 .box div:nth-child(3) {
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.demo9 .box {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}
.demo9 .box div {
  width: 120px !important;
}
.demo9 .box div:nth-child(2) {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.demo10 .box {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}
.demo10 .box div {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.demo10 .box div:nth-child(2) {
  -webkit-flex-basis: 120px;
      -ms-flex-preferred-size: 120px;
          flex-basis: 120px;
}
